<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Funcionários - Início</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-vue.css">
</head>

<body>
    <div id="setores" class="container-fluid table">
        <form @submit="enviarFormulario">
            <div v-if="errors.length" class="alert alert-danger" role="alert">
                <p>
                    <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="id" v-model="setor.id" style="display: none;" readonly>
            </div>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" id="nome" v-model="setor.nome" placeholder="Insira o nome">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>


        <h4>Lista dos Setores</h4>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            <tbody id="event-table">
                <tr v-for="setor in listaSetores">
                    <td>{{ setor.id }}</td>
                    <td>{{ setor.nome }}</td>
                    <td><button @click="editarSetor(setor)"
                            class="waves-effect btn-small blue darken-1"><span>&#9998;</span></button></td>
                    <td><button style="background-color: red;"
                            @click="deletarSetor(setor.id)"><span>&#10006;</span></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../resources/js/vue.js"></script>
    <script src="../resources/js/axios.min.js"></script>
    <script src="../resources/js/setor.js"></script>
</body>

</html>